<div class="card w-100" style="width: 18rem">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2" style="height: 100px; overflow: hidden;">
                    {% if answer.profile.avatar %}
                    <img src="{{ answer.profile.avatar.url }}" alt="Avatar" class="img-fluid w-100 h-100"
                        style="object-fit: cover;" />
                    {% else %}
                    <img src="/uploads/images/default.jpg" alt="Default Avatar" class="img-fluid w-100 h-100"
                        style="object-fit: cover;" />
                    {% endif %}
                </div>
                <div class="input-group">
                    <input class="form-control" type="number" value="{{ answer.likes }}" placeholder="Likes"
                        aria-label="Likes count" id="corrects-counter" data-answer-id="{{ answer.id }}" />
                    <button class="btn btn-outline-primary" type="button" id="correct-btn">
                        <i class="bi bi-heart"></i> Like
                    </button>
                </div>
            </div>
            <div class="col-9">
                <h5 class="card-title">{{ answer.title }}</h5>
                <p class="card-text mb-5">
                    {{ answer.content }}
                </p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" data-answer-id="{{ answer.id }}"
                        id="flexCheck" {% if answer.is_correct %} checked {% endif %} />
                    <label class="form-check-label" for="flexCheck">
                        Correct!
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>