<div class="d-flex gap-1">
    <div class="rounded-circle overflow-hidden border bg-light" style="width: 100px; height: 100px;">
        {% if request.user.profile.avatar %}
        <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" class="w-100 h-100 object-fit-cover" />
        {% else %}
        <img src="/uploads/images/default.jpg" alt="Default Avatar" class="w-100 h-100 object-fit-cover" />
        {% endif %}
    </div>
    <div>
        <div>{{ request.user.username }}</div>
        <a href="{% url 'settings' %}">settings</a>
        <a href="{% url 'logout' %}">log out</a>
    </div>
</div>