{% extends 'layouts/base.html'%}

{% block corner %}

{% if request.user.is_authenticated %}
{% include 'includes/registretedUserCorner.html' %}
{% else %}
{% include 'includes/unregistretedUserCorner.html' %}
{% endif %}

{% endblock %}


{% block header %}

<div class="d-flex gap-3 align-items-center">
  <h1>New Question</h1>
</div>

{% endblock %}


{% block content %}

<form class="was-validated">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input class="form-control" type="text" id="titleQuestion" required />
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Text</label>
    <textarea class="form-control" type="text" id="textQuestion" style="max-height: 550px" rows="4" required></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Tags</label>
    <input class="form-control" type="text" id="titleQuestion" required />
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">
      Ask the question
    </button>
  </div>
</form>

{% endblock %}