{% extends 'layouts/base.html'%}

{% block corner %}
{% include 'includes/unregistretedUserCorner.html' %}
{% endblock %}


{% block header %}

<div class="d-flex align-items-center mb-4">
  <h1>Log in</h1>
</div>

{% endblock %}


{% block content %}

<form class="was-validated col-6">
  <div class="mb-3">
    <label class="form-label">Login</label>
    <input class="form-control" type="text" id="login" required />
    <div class="invalid-feedback">Please enter a login</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input class="form-control" type="text" id="password" required />
    <div class="invalid-feedback">Please enter a password</div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
</form>
<div>
  <a href="{% url 'signup' %}" class="h5 text-primary">Create a new account</a>
</div>

{% endblock %}