{% extends 'layouts/base.html'%}
{% load bootstrap5 %}

{% block corner %}

{% if request.user.is_authenticated %}
{% include 'includes/registretedUserCorner.html' %}
{% else %}
{% include 'includes/unregistretedUserCorner.html' %}
{% endif %}

{% endblock %}


{% block header %}

<div class="d-flex align-items-center mb-4">
  <h1>Log in</h1>
</div>

{% endblock %}


{% block content %}

<form action="{% url 'login' %}" method="POST" class="was-validated col-6">
  {% bootstrap_form form %}
  {% csrf_token %}
  {% buttons %}
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
  {% endbuttons %}
</form>
<div>
  <a href="{% url 'signup' %}" class="h5 text-primary">Create a new account</a>
</div>

{% endblock %}