{% extends 'layouts/base.html'%}
{% load bootstrap5 %}

{% block corner %}

{% if request.user.is_authenticated %}
{% include 'includes/registretedUserCorner.html' %}
{% else %}
{% include 'includes/unregistretedUserCorner.html' %}
{% endif %}

{% endblock %}


{% block header %}

<div class="d-flex align-items-center mb-4">
    <h1>Settings: {{ request.user.username }}</h1>
</div>

{% endblock %}


{% block content %}

<form action="{% url 'settings' %}" method="POST" class="form-group col-6">
    {% bootstrap_form form %}
    {% csrf_token %}
    {% buttons %}
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    {% endbuttons %}
</form>

{% endblock %}