{% extends 'layouts/base.html'%}

{% block corner %}

{% if request.user.is_authenticated %}
{% include 'includes/registretedUserCorner.html' %}
{% else %}
{% include 'includes/unregistretedUserCorner.html' %}
{% endif %}

{% endblock %}


{% block header %}

<div class="d-flex gap-3 align-items-center">
    <h1>Tag: {{ tag.title }}</h1>
</div>

{% endblock %}


{% block content %}

<div class="d-flex flex-column gap-3">
    {% for question, tagsList in zipped %}
    {% include 'includes/questionCard.html' %}
    {% endfor %}
</div>
{% include 'includes/paginator.html' %}

{% endblock %}